version: '3.8'

services:
  app:
    build: .
    container_name: wb-tariff-service
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
    volumes:
      - ./credentials:/app/credentials
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:17
    container_name: wb-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: